*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,body{
    height: 100%;
  }
  body{
    display: grid;
    place-items: center;
    background: #131419;
  }
  .clock{
    background: rgba(251, 49, 49, 0.993);
    height: 130px;
    
    line-height: 130px;
    width: 600px;
    text-align: center;
    padding: 0 30px;
    box-shadow: -7px -7px 60px rgba(0, 0, 0, 1),
                 7px 7px 40px rgba(0, 0, 0, 1);
  }
  .clock .display{
    font-size: 55px;
    font-weight: 700;
    color: rgba(0, 255, 255, 1);
    letter-spacing: 5px;
    font-family: 'Orbitron', sans-serif;
  }

  .multi-color-border {
    padding: 296px 450px;
    border-width: 15px;
    border-style: solid;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
  }